# Ignore compiled Python files
*.pyc
*.pyo
__pycache__/

# Ignore environment files
.env

# Ignore media files
media/

# Ignore database files
*.db
*.sqlite3

# Ignore package build directory
dist/
build/

# Ignore virtual environment
venv/
env/

# Ignore fixtures file
fixtures/

# Ignore IDE and editor specific files
.vscode/

# Ignore log files
*.log

# Ignore cache and temporary files
*.swp
*.swo
*.bak
*.cache

# Tailwind CSS
node_modules/