{% extends 'base.html' %}

{% block content %}


<h3>Booking No. {{ booking.id }} is cancelled.</h3>

<div>
    Booking Details:
    <p>check in: {{ booking.check_in }}</p>
    <p>check out: {{ booking.check_out }}</p>
    <span>room: {{ booking.room_type }}</span><span>{{ booking.length_of_stay }} {% if booking.length_of_stay > 1 %}nights {% else %} night {% endif %}</span>
    <p>Total: £ {{booking.total_price }}</p>
    <p>Status: {{ booking.status }}</p>
</div>

<div>
    Guest Details:
    <p>Guest name: {{ booking.guest_name }}</p>
    <p>email: {{ booking.email }}</p>
    <p>phone: {{ booking.phone }}</p>
</div>

{% endblock %}